* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-contianer {
    height: 100%;
    width: 100%;
    position: relative;
    
}

/********************** Navbar css ***********************/

.nav {
    height: 90px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7vw;
    font-family: "Inter", serif;
}

.nav i {
    display: none;
}

.about-nav {
    display: flex;
    align-items: center;
    gap: 2vw;
    color: #ffff;
}


.nav .logo-img {
    width: 11vw;
}

.nav-button {
    display: flex;
    gap: 1vw;
}

.order-button {
    background-color: red;
    display: flex;
    align-items: center;
    padding: 0.9vw 1vw;
    border-radius: 50px;
    text-decoration: none;
    color: #ffff;
    gap: 0.5vw;
}

.order-button button {
    border-radius: 50%;
    padding: 0.2vw 0.2vw;
    background-color: #ffff;
    border: none;
}
.order-button .arrow-img {
    width: 1.2vw;
    display: flex;
    align-items: center;
}

.franchise-button {
    padding: 1vw 1vw;
    border: 1px solid #ffff;
    border-radius: 50px;
    text-decoration: none;
    color: #ffff;
}

/*********************** Banner css ************************/
.banner img {
    width: 100%;
}

/************************* Content with brand images css ************************/
.cont-brand {
    height: 300px;
    width: 100%;
    background-color: black;
    color: #ffff;
    font-family: "Inter", serif;
    
}
.cont-brand span {
    font-size: 3vw;
    font-family: "Black And White Picture", serif;
    
}
@media only screen and (max-width:600px) {
    .nav {
        height: 18vw;
        
    }
    .about-nav h4 {
        display: none;
    }

    .franchise-button {
        display: none;
    }
    .nav .logo-img {
        width: 25vw;
        margin-left: 12vw;
        
    }
    .nav i {
        display: block;
    }
    .order-button {
        padding: 2vw 2.5vw;
        display: flex;
        gap: 0.9vw;
        font-size: 4vw;
        margin-right: -6vw;
    }
    .order-button .arrow-img {
        width: 6vw;
    }
    .nav i {
        display: block;
        color: #ffff;
        font-size: 8vw;
        font-weight: bolder;
        margin-left: -4vw;
    }
    
}

