* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

.main-contianer {
    height: 100%;
    width: 100%;
    position: relative;
}

.nav {
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6vw;

}

.about-nav {
    display: flex;
    gap: 2vw;
    color: #ffff;

}

.nav img {
    width: 10vmax;

}