* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

.main-contianer {
    height: 100%;
    width: 100%;
    position: relative;
}

.nav {
    height: 90px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7vw;

}

.nav i {
    display: none;
}

.about-nav {
    display: flex;
    align-items: center;
    gap: 2vw;
    color: #ffff;
}

.nav img {
    width: 11vw;
}

.nav-button {
    display: flex;
    gap: 1vw;
}

.order-button {
    background-color: red;
    display: flex;
    align-items: center;
    padding: 0.9vw 1vw;
    border-radius: 50px;
    text-decoration: none;
    color: #ffff;
    gap: 0.5vw;
}

.order-button button {
    border-radius: 50%;
    padding: 0.2vw 0.2vw;
    background-color: #ffff;
    border: none;
}
.order-button img {
    width: 1.2vw;
    display: flex;
    align-items: center;
}

.franchise-button {
    padding: 1vw 1vw;
    border: 1px solid #ffff;
    border-radius: 50px;
    text-decoration: none;
    color: #ffff;
}

@media only screen and (max-width:600px) {
    .about-nav h4 {
        display: none;
    }

    .franchise-button {
        display: none;
    }
    .nav img {
        width: 30vw;
    }
    .nav i {
        display: block;
    }
    .order-button {
        /* padding: 0.5vw 1vw; */
    }
    .order-button img {
        width: 5vw;
    }
    
}

